<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo-List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <h2>Task1</h2>
        <p>Description of task</p>
      </ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
      <ion-button fill="clear" color="danger">
        <ion-icon name="trash">

        </ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openTaskDetails()">
      <ion-icon name="add">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
